# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Secrets / env
.env
*.pem
*.key
*.p12
*.pfx

# Editor
.vscode/
.idea/

# OS
.DS_Store

# Terraform env config (optional; recommended to keep in GCS and download in CI)
*.tfvars
backend.hcl
